:root { #variavel de cor
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal: 'Inter';
    --botao-azul-efeito: #3c92fa;
}

body {
    background-color: var(--cor-de-fundo);/*cor de fundo */
    color: var(--branco-principal);/*mudar a cor da fonte*/
    font-family: var(--fonte-principal);/*estilo de fonte*/
    font-size: 16px; /*tamanho da fonte*/
    font-weight: 400; /*largura da fonte*/
}

* {
    margin: 0; #margem
    padding: 0; #espoço do elemento
}

.principal {
    background-image: url("Background.png");/*imagem como plano de fundo*/
    background-repeat: no-repeat;/*nao repetir o imagem*/
    background-size: contain;/*ele coloca nao repete a imagem*/
    align-items: center;/*item que se alinham ao centro */
    text-align: center;/*os textos que se alinham ao centro*/
}

.container {
    height: 100vh; /*altura*/
    display: grid;/*configuração para organizar elementos*/
    grid-template-columns: 50% 50%;/*espaço tag*/
}

.container__botao {
    background-color: var(--botao-azul);/*cor de fundo*/
    border-radius: 5px;/*bordas arredondadas*/
    padding: 1em;/*espaçamento*/
    color: var(--branco-principal);/*cor da fonte*/
    display: block; /*bloqueado*/
    text-decoration: none;/*sem decoração de texto*/
    margin-bottom: 1em;/*margim de botao*/
}

.botao_secundario {
    background-color: transparent;/*cor de fundo transparente*/
    border: 2px solid var(--branco-principal)/*borda de 2px*/
}

.container__aviso {
    font-size: 12px;/*tamanho da fonte*/
    color: var(--cinza-secundario);/*cor da fonte*/
}

.container__titulo {
    font-size: 28px;/*tamanho fonte*/
    font-weight: 700;/*largura fonte*/
}

.container__imagem {
    margin: 1em 0 2em 0;/*margim de imagem*/
}

.container__caixa {
    margin: 0 6em;/*margin de caixa*/
}

.secundario__imagem {
    width: 80%;/*largura da imagem*/
}

.secundario {
    align-items: center;/*centralizar itens*/
    margin: 0 10em;/*margin 10 em*/
}

.descricao__titulo {
    font-weight: 700;/*peso da fonte*/
    font-size: 48px;/*tamanho fonte*/
    color: var(--branco-principal);/*cor fonte*/
    margin-bottom: 0.1em;/*margin botão*/
}

.descricao__texto {
    color: var(--cinza-secundario);/*cor do texto*/
}

.secundario__botao {
    display: inline-block;/*botao na linha do bloco*/
    margin-top: 1em;/*margin no topo*/
}

.container__descricao {
    padding: 2em;/*espaçamento de 2em*/
}

.dispositivos__lista {
    display: flex;/*arrumar elementos*/
    justify-content: center;/*alinha em direção ao centro */
    list-style-type: none;/*nenhum marcador de item e mostrado*/
    margin: 5em 0;/*margin de 5em*/
}

.dispositivos {
    text-align: center;/*textos alinhados ao centro*/
}

.dispositivos__titulo {
    font-size: 48px;/*tamanho da fonte*/
    color: var(--branco-principal);/*atribui a cor branca para a fonte*/
}

.lista__item {
    font-size: 32px;/*tamanho da fonte*/
    color: var(--branco-principal);/*atribui a cor branca a fonte*/
}

.rodape {
    text-align: center;/*textos alinhados ao centro*/
    margin: 5em 3em;/*margin 5em*/
}

.rodape__lista {
    display: flex;/*organiza os elementos*/
    justify-content: center;/*alinha em direçao ao centro*/
    list-style-type: none;/*sem lista*/
    margin-top: 1em;/*margin no topo*/
}

.lista__link a{
    text-decoration: none;/*sem decoração de texto*/
    color: var(--branco-principal);/*cor branca principal*/
    margin-left: 1em;/*margin a direita*/
}

.rodape__texto {
    margin: 1em 0;/*margin 1 em*/
    color: var(--cinza-secundario);/*cor da fonte*/
    font-size: 14px;/*tamanho da fonte*/
}

.lista__link a:hover {
    color: var(--botao-azul);/*cor do botao*/
}

.lista__link a:active {
    color: purple;/*cor da lista*/
}

.container__botao:hover {
    background-color: var(--botao-azul-efeito);/*cor de fundo*/
    color: var(--cor-de-fundo);/*cor de fundo*/
}
